body{
    text-align: center;
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
   	color: #9ef0c0;
    color: rgba(0, 255, 59, 0.78);
	flex-direction: column;
	background-color: #0c0c0c;
}
main, footer {
	width: 100%;
 	max-width: 1200px;
  	margin-left: auto;
  	margin-right: auto;
}
/*border for the Navigation List*/
.Card {
    display: inline-block;
    border: 1px solid rgba(0, 255, 59, 0.78);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    list-style: none; /* removes the bullets*/
}
.Link {
    color:  rgba(0, 255, 59, 0.78);
    text-decoration: none;  /* removes the underline*/
    font-family: 'Press Start 2P', monospace;
}
.title {
	text-align: left;
}

.item {
	text-decoration: none;

}
.PageTitle {
	text-align: center;

}
.MainText {
	text-align: center;
	
}
.box {
	border-radius: 10px;
	width: 100%;
	max-width: 320px;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

