body{
    text-align: center;
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: rgba(0, 255, 59, 0.78);
}
/*border for the Navigation List*/
.Card {
    display: inline-block;
    border: 1px solid rgba(0, 255, 59, 0.78);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    list-style: none; /* removes the bullets*/
}
.Link {
    color:  rgba(0, 255, 59, 0.78);
    text-decoration: none;  /* removes the underline*/
    font-family: 'Press Start 2P', monospace;
}

.NavList {
	/* justify-content: flex-end;*/
	display: flex;
	margin-left: auto;
}
.item {
	text-decoration: none;

}
.PageTitle {
	text-align: center;

}
.MainText {
	text-align: center;
	
}
.Footer {
	text-align: center;
}
.FooterSection {
	background-color: black;
}
